:root {
    --main-color: #ff6d00;
    --main-bg-color: #ffffff;
    --main-secondary-color: #071689;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto Mono", monospace;
    font-size: 14px; */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    background-color: var(--main-secondary-color);
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    user-select: none;
    visibility: visible;
    transition: visibility 0.5s ease-out;
}

.mapboxgl-control-container {
    display: none;
}

#info {
    display: flex;
    position: absolute;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
    bottom: 30px;
    width: 100%;
    visibility: hidden;
    transition: transform 2s;
}

/* #info-final {
    bottom: 60px;
    visibility: visible;
} */

.de {
    display: none;
}

#info-final {
    display: none;
    position: absolute;
    font-size: 30px;
    text-align: center;
    color: white;
    bottom: 30px;
    width: 100%;
}

#info-year {
    display: none;
}

#info-trip .rect-btn {
    margin-top: 25px;
}

.info-text {
    display: none;
    width: 100%;
}

#info-final .rect-btn {
    margin-top: 25px;
}

.rect-btn {
    background-color: #ffffff;
    color: var(--main-secondary-color);
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    border: 2px solid var(--main-secondary-color);
    padding: 10px 20px;
    min-width: 100px;
}

.rect-btn:hover,
.rect-btn:focus,
.rect-btn.selected,
.round-btn.selected {
    background-color: var(--main-color);
    /* color: #ffffff; */
}

.btn {
    display: block;
    aspect-ratio: 1/1;
    height: 80%;
    background-color: var(--main-color);
    border-radius: 50%;
}

.modus-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 45rem;
    z-index: 999;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

.round-btn {
    border-radius: 50%;
    width: 20rem; /* Adjust as needed */
    height: 20rem; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #ffffff;
    color: var(--main-secondary-color);
    text-align: center;
}

.round-btn:hover,
.round-btn:focus {
    background-color: var(--main-color);
}

/* .round-btn.active {
    background-color: var(--main-color);
} */

.fill-btn-driving {
    width: 12rem;
    height: 12rem;
}

.fill-btn-cycling {
    width: 16rem;
    height: 16rem;
    transform: translateX(10%) translateY(10%);
}

.fill-btn-driving,
.fill-btn-cycling {
    fill: var(--main-secondary-color);
}

/* .icon-modus {
    width: 100%;
    height: 100%;
} */

.chart-wrapper {
    position: absolute;
    width: 100%;
    /* height: 30%; */
    display: grid;
    grid-template-columns: 8% 37% 10% 37% 8%;
    grid-row: 1;
    top: 0;
    pointer-events: none;
    z-index: 999;
    visibility: hidden;
    transition: transform 2s;
    /* background-color: var(--main-secondary-color); */
}

.chart-container,
.label-container {
    display: grid;
    height: 7rem;
}

.chart-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.label-container {
    padding-top: 30px;
    color: white;
}

.icon-container {
    position: relative;
    font-size: 4rem;
    text-align: center;
    vertical-align: middle;
    height: 7rem;
    padding-top: 30px;
    color: var(--main-bg-color);
}

.icon-other,
.icon-chosen {
    width: 8rem;
}

.fill-chosen,
.fill-other {
    width: 90%;
    height: 100%;
}

.fill-chosen {
    fill: var(--main-color);
}

.fill-other {
    fill: var(--main-bg-color);
}

.bar-label {
    text-align: center;
    font-size: 0.8rem;
}

.bar-container,
.bar {
    height: 20px;
}

.bar-container {
    width: 100%;
    border: 1px solid var(--main-bg-color);
}

.bar-container.chosen {
    width: 100%;
    border: 1px solid var(--main-color);
}

.bar {
    display: inline-flex;
    align-items: center;
    width: 0%;
    background-color: var(--main-bg-color);
    white-space: nowrap;
    font-size: 0.8rem;
    line-height: 10px;
}

.bar.chosen {
    background-color: var(--main-color);
    color: white;
}

.bar.other {
    color: var(--main-secondary-color);
}

.slidecontainer {
    position: absolute;
    padding: 20px;
    width: 100%;
}

.modal,
#modal-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-height: 50%;
    /* height: 60%; */
    /* padding: 16px; */
    /* border: 5px solid var(--main-color); */
    background-color: var(--main-secondary-color);
    z-index: 1002;
    overflow: auto;
    color: #ffffff;
}

.modal-inner > * {
    margin-bottom: 30px;
}

.modal-inner {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

#modal-start,
#modal-end {
    display: none;
}

#modal-balance {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: var(--main-secondary-color);
    visibility: hidden;
}

#costBalance,
#emissionBalance {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; /* Each inner div occupies 50% of the parent height */
    text-align: center;
    padding: 40px;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    margin-top: 50px;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: var(--main-color);
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid var(--main-color);
    outline: 3px solid var(--main-color);
    outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: var(--main-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: #ffffff;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid var(--main-color);
    outline: 3px solid var(--main-color);
    outline-offset: 0.125rem;
}
